<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" _msttexthash="381446" _msthash="58">Crud productos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" _msthidden="A" _mstaria-label="320099" _msthash="59">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">

        <form class="d-flex ms-auto">
          <input class="form-control me-sm-2" type="search" placeholder="Buscar" _mstplaceholder="74607" _msthash="70">
         
        </form>
      </div>
    </div>
  </nav>